<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div>
            <button class=" btn btn-primary float-right" placement="top" ngbTooltip="Create an event" [routerLink]="['/course/new']">
                <fa-icon [icon]="'plus'" [fixedWidth]="true"></fa-icon>
            </button>
        </div>

        <br><br>

        <div class="card">
            <div class="card-body">
                <span>Filtres :</span><br><br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="filters.COURSE_A_PIED" autocomplete="off">
                        Course à pied
                    </label>
                    <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="filters.MARATHON" autocomplete="off">
                        Marathon
                    </label>
                    <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="filters.RANDONNEE" autocomplete="off">
                        Randonnée
                    </label>
                    <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="filters.COURSE_A_VELO" autocomplete="off">
                        Course à vélo
                    </label>
                    <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="filters.TRIATHLON" autocomplete="off">
                        Triathlon
                    </label>
                </div>
            </div>
        </div>

        <br>

        <div>
            <form>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="search" name="search" class="form-control" placeholder="Search" aria-label="Search"
                               [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search"/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button class="btn btn-outline-success btn-block" type="submit">
                            <fa-icon [icon]="'search'" [fixedWidth]="true"></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <br>

        <div>
            <jhi-event-view></jhi-event-view>
        </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <div id="leaflet-map" class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag"
             style="width: auto; height: 100%; min-height: 500px; outline: medium none currentcolor;  border-style: solid;  border-color: black;">
        </div>
    </div>
</div>
